apiVersion: v1
kind: Pod
metadata:
  name: frontend-pod
spec:
  containers:
    - name: frontend_plugin_app
      image: ${tpl.plugin_image}
      command:
        - start-component
      envFrom:
        - configMapRef:
            name: contract.config.map
            optional: false
      env:
        - name: app__name
          value: "frontend_plugin_app"
        - name: app__entry
          value: "oso.framework.plugin:create_app"
        - name: app__root
          value: "/app-root"
        - name: plugin__application
          value: "plugin:Plugin"
        - name: plugin__mode
          value: "frontend"
        - name: BASE_URL
          value: ${tpl.base_url}
        - name: PASSIVE_MODE
          value: ${tpl.passive_mode}
    - name: frontend_plugin_proxy
      image: ${tpl.plugin_image}
      command:
        - start-proxy
      envFrom:
        - configMapRef:
            name: contract.config.map
            optional: false
      env:
        - name: app__name
          value: "frontend_plugin_proxy"
      ports:
        - containerPort: 4000
          hostPort: 4000
%{ if !tpl.passive_mode }
    - name: hsm-forwarder
      image: ${tpl.hsmdriver_image}
      volumeMounts:
        - mountPath: /tls
          name: tls_vol
        - mountPath: /signing-integrity
          name: signing-integrity
          readOnly: true
      command:
        - hsm-driver
        - "--proxy-addr"
        - "${tpl.proxy_address}"
        - "--ibm-oso-role"
        - "forwarder"
        - "--ibm-oso-bind-http"
        - "0.0.0.0:3002"
        - "--ca-cert"
        - "/tls/ca.cert.pem"
        - "--client-cert"
        - "/tls/client.cert.pem"
        - "--client-key"
        - "/tls/client.key.pem"
        %{if tpl.governance_engine_enabled != false}
        - "--signing-integrity-public-key=/signing-integrity/pubkey.pem"
        %{endif} 
      env:
        - name: LOGS_FILTER
          value: info,hsm_driver=trace,hsm_driver_bin=trace
  volumes:
    - hostPath:
        path: ./tls
        type: Directory
      name: tls_vol
    - hostPath:
        path: ./signing-integrity
        type: FileOrCreate
      name: signing-integrity
%{ endif }
