apiVersion: v1
kind: Pod
metadata:
  name: frontend_plugin
spec:
  containers:
    - name: frontend_plugin
      image: ${tpl.image}
      envFrom:
        - configMapRef:
            name: contract.config.map
            optional: false
      env:
        - name: COMPONENT
          value: "frontend_plugin"
        - name: PORT
          value: "4000"
        - name: SK
          value: "${tpl.SK}"
        - name: VAULTID
          value: "${tpl.VAULTID}"
        - name: HMZ_AUTH_HOSTNAME
          value: "${tpl.HMZ_AUTH_HOSTNAME}"
        - name: HMZ_API_HOSTNAME
          value: "${tpl.HMZ_API_HOSTNAME}"
        - name: ROOTCERT
          value: "${tpl.ROOTCERT}"
        - name: SEED
          value: "${tpl.SEED}"
        - name: TOKEN_EXP
          value: "${tpl.TOKEN_EXP}"
        - name: BATCH_UPLOAD_SIZE
          value: "${tpl.BATCH_UPLOAD_SIZE}"
      ports:
        - containerPort: 4000 
          hostPort: 4000
